// set basic colors
$violet-dark: #2a0944;
$violet-light: #3b185f;
$margin: #a12568;
$golden: #fec260;

// set basic font sizes
// root: 10px
$title-size: 3.6rem;
$name-size: 2.5rem; //25px
$menu-size: 1.8rem; //20px
$text-size: 1.6rem; //16px

#modal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;

  z-index: 1000;
}

.lesson_container {
  position: relative;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 3rem 0;

  h1 {
    font-size: $title-size;
  }

  .video_container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;

    flex-grow: 1;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

    margin: 3rem 0 2rem 0;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .notes_container {
    width: 50%;

    display: flex;
    flex-direction: column;

    .notes_bar {
      width: 100%;
      background: #2a0944;
      border: 1px solid #000000;
      box-sizing: border-box;
      color: white;
      font-size: $text-size;

      padding: 1rem;

      display: flex;
      justify-content: space-between;
      align-items: center;

      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

      &:hover {
        cursor: pointer;
        filter: drop-shadow(0px 4px 4px $golden);
      }

      .icon_container {
        height: 3rem;
        width: 3rem;

        display: flex;
        justify-content: center;
        align-items: center;
      }
      img {
        width: 100%;
        height: 100%;
        filter: invert(100%);

        &:hover {
          cursor: pointer;
          filter: invert(80%);
        }
      }
    }
    .comments_container {
      margin: 2rem 0;
      width: 100%;

      display: flex;
      flex-direction: column;
      gap: 2rem;

      font-size: $text-size;
      font-weight: bold;
    }
  }
}
