# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# firebase admin key
edu-landing-page-firebase-adminsdk-4zx3o-bf30d9ac74
*.json

# illustrations 
frontend/public/illustrations/emacs.svg
frontend/public/illustrations/undraw_Add_content_re_vgqa.svg
frontend/public/illustrations/undraw_Code_typing_re_p8b9.svg
frontend/public/illustrations/undraw_dev_productivity_umsq.svg
frontend/public/illustrations/undraw_Done_re_oak4.svg
frontend/public/illustrations/undraw_education_f8ru.svg
frontend/public/illustrations/undraw_educator_oxfm.svg
frontend/public/illustrations/undraw_Faq_re_31cw.svg
frontend/public/illustrations/undraw_features_overview_jg7a.svg
frontend/public/illustrations/undraw_Graduation_re_gthn.svg
frontend/public/illustrations/undraw_hacker_mind_6y85.svg
frontend/public/illustrations/undraw_join_of2w.svg
frontend/public/illustrations/undraw_next_js_8g5m.svg
frontend/public/illustrations/undraw_No_data_re_kwbl.svg
frontend/public/illustrations/undraw_online_media_62jb.svg
frontend/public/illustrations/undraw_online_test_gba7.svg
frontend/public/illustrations/undraw_Online_video_re_fou2.svg
frontend/public/illustrations/undraw_page_not_found_su7k.svg
frontend/public/illustrations/undraw_pay_online_b1hk.svg
frontend/public/illustrations/undraw_personal_info_0okl.svg
frontend/public/illustrations/undraw_react_y7wq.svg
frontend/public/illustrations/undraw_road_to_knowledge_m8s0.svg
frontend/public/illustrations/undraw_secure_login_pdn4.svg
frontend/public/illustrations/undraw_server_cluster_jwwq.svg
frontend/public/illustrations/undraw_server_down_s4lk.svg
frontend/public/illustrations/undraw_Sign_in_re_o58h.svg
frontend/public/illustrations/undraw_web_devices_ad58.svg
frontend/public/illustrations/undraw_well_done_i2wr.svg

