// set basic colors
$violet-dark: #2a0944;
$violet-light: #3b185f;
$margin: #a12568;
$golden: #fec260;

// set basic font sizes
// root: 10px
$button-size: 2.5rem; //25px
$text-size: 2rem; //20px
$alert-size: 1.6rem; //16px

.contact_container {
  width: 640px;
  height: 500px;

  background: #ffffff;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;

  padding: 2rem;
}

.contact_email, .contact_password {
  input {
    width: 400px;
    height: 50px;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
    text-indent: 1rem;
  }
}

.button_container {
  input {
    width: 180px;
    height: 60px;
    padding: 10px 18px;
    background: $golden;
    border-radius: 10px;
    color: white;

    font-size: $button-size;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background: darken($golden, 10%);
    }
  }
  input:disabled {
    cursor: default;
    background: darken($golden, 30%);
  }
}

.alert_container {
  font-size: $alert-size;
  width: 80%;
  height: 20px;
  text-align: center;
  align-self: center;
}

.register_container {
  font-size: $alert-size;
  text-align: center;

  a {
    color: $margin;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: lighten($margin, 10%);
    }
  }
}