// set basic colors
$violet-dark: #2a0944;
$violet-light: #3b185f;
$margin: #a12568;
$golden: #fec260;

// set basic font sizes
// root: 10px
$title-size: 3.6rem;
$name-size: 2.5rem; //25px
$menu-size: 1.8rem; //20px
$text-size: 1.6rem; //16px

.menu_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
  flex-wrap: wrap;

  height: 100%;
}

.left_bar {
  width: 280px;
  height: 60%;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  padding: 2rem 0;

  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;


  img {
    border-radius: 50%;
    width: 173px;
  }

  h1 {
    font-size: $name-size;
  }

  a {
    color: black;
    font-size: $menu-size;
  }
}

.right_bar {
  display: flex;
  flex-direction: column;
  gap: 5rem;

  width: 60%;
  height: 80%;

  background: #ffffff;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;

  padding: 6rem 6rem;

  h1 {
    font-size: $title-size;
  }

  .options_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    .optionCard {
      display: flex;
      justify-content: space-evenly;
      align-items: center;

      width: 40%;
      height: 20%;

      background: #ffffff;
      border: 1px solid #000000;
      box-sizing: border-box;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
    }

    .icon_container {
      border-radius: 50%;
      height: $name-size;
      width: $name-size;
    }
    img {
      width: 100%;
      height: 100%;
    }

    h2 {
      font-size: $text-size;
      color: $margin;
    }
  }
}

#logout {
    color: $margin;
    font-weight: bold;
}

#account {
    &:hover {
        color: $golden;
        font-weight: bold; 
    }
}

#courses {
    color: $golden;
    font-weight: bold;
}
