$title-size: 8rem; //80px
$text-size: 2rem; //20px

.card_container {
  width: 240px;
  height: 320px;

  background: #fafafa;
  border: 1px solid #000000;
  box-sizing: border-box;
  border-radius: 10px;

  display: flex;
  text-align: center;
  flex-direction: column;

  filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}

.title_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;

  height: 40%;

  h3 {
    display: flex;

    flex-direction: column;

    align-items: center;

    text-align: center;
    align-self: center;
    font-size: 8rem;
  }

  &::after {
    content: "";
    display: block;
    background: #a12568;
    height: 4px;
    width: 80px;

    position: absolute;
    bottom: 0;
  }
}

.text_container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 60%;

  p {
    font-size: 2rem;
    text-align: center;
  }
}
