// set basic colors
$violet-dark: #2a0944;
$violet-light: #3b185f;
$margin: #a12568;
$golden: #fec260;

// set basic font sizes
// root: 10px

$font-button: 2rem; //20px

.navbar_backdrop {
  min-height: 10vh;
  width: 100%;
  background: $violet-dark;

  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar_container {
  min-height: 10vh;
  width: 1120px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar_img {
  margin: 1.5rem;
}

.navbar_links {
  display: flex;
  align-items: center;
  font-size: $font-button;

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style-type: none;
    color: white;

    a {
      text-decoration: none;
      padding: 1rem;
      display: block;
    }

    &:hover {
      background-color: $violet-light;
    }
  }
}

#logout {
  font-weight: bold;
  color: $margin;
}

.button_container {
  margin: 1.5rem;
  button {
    display: block;
    border: none;
    width: 136px;
    height: 58px;
    background: $golden;
    border-radius: 10px;

    color: white;
    font-size: $font-button;
    font-weight: 600;

    &:hover {
      cursor: pointer;
      background: darken($golden, 10%);
    }
  }
}

.profile_container {
  margin: 1.5rem;
  height: 5vh;

  display: flex;
  justify-items: center;
  justify-content: space-between;

  position: relative;

  gap: 1rem;

  #profile_img {
    border-radius: 50%;
    height: 100%;

    cursor: pointer;
  }

  #more {
    height: 1.5vh;
    align-self: center;

    cursor: pointer;
  }
}

.profile_modal {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 280px;
  height: 180px;

  z-index: 100;

  position: absolute;
  top: 6vh;
  right: 0;

  background: #ffffff;
  border: 2px solid #000000;
  box-sizing: border-box;
  border-radius: 5px;

  a {
    display: flex;
    color: black;
    flex-grow: 1;
    width: 100%;
    align-items: center;
    justify-content: center;

    &:hover {
      cursor: pointer;
      background-color: lighten($golden, 5%);
      border-radius: inherit;
      color: white;
    }
  }
}
