// set basic colors
$violet-dark: #2a0944;
$violet-light: #3b185f;
$margin: #a12568;
$golden: #fec260;

// set basic font sizes
// root: 10px
$font-title: 4.5rem; //45px
$font-subtitle: 2.4rem; //24px

.top_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40rem;
  background: $violet-dark;
  

  z-index: -10;
}

.top_container_elem {
  display: flex;
  height: 40rem;
  margin: 2rem 0;
  flex-direction: column;
  justify-content: space-between;
  flex-direction: column;
  gap: 6rem;
}

.top_frame {
  $frame-height: 480px;

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 980px;
  height: $frame-height;

  background: #ffffff;
  box-shadow: 4px 4px 15px 17px rgba(0, 0, 0, 0.3);
  border-radius: 20px;

  margin: 0 1.5rem;

  z-index: 10;

  img {
    width: 100%;
    height: 65%;
  }
}

.title_container {
  text-align: center;
  margin: 1.5rem;

  h1 {
    color: white;
    font-size: $font-title;
  }

  h3 {
    padding: 1rem 0;
    color: $golden;
    font-size: $font-subtitle;
  }
}

// .background_figure1 {
//   position: absolute;
//   left: -41.25px;
//   top: 118.22px;
// }

// .background_figure2 {
//   position: absolute;
//   bottom: -2%;
//   right: -1%;
// }
// .background_figure3 {
//   position: absolute;
//   right: -0.5%;
//   top: 78px;
// }
// .background_figure4 {
//   position: absolute;
//   left: 16%;
//   bottom: 16%;
// }
// .bacground_caption1 {
// }
// .bacground_caption2 {
// }
// .bacground_caption3 {
// }
// .bacground_caption4 {
// }
