// set basic colors
$violet-dark: #2a0944;
$violet-light: #3b185f;
$margin: #a12568;
$golden: #fec260;

.top_container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 720px;
  background: $violet-dark;
}

.top_container_elem {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.top_frame {
  $frame-height: 480px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  top: $frame-height/2;

  width: 980px;
  height: $frame-height;

  background: #ffffff;
  box-shadow: 4px 4px 15px 17px rgba(0, 0, 0, 0.3);
  border-radius: 20px;


  img {
      width: 100%;
      height: 65%;
  }
}

.title_container {
    display: flex;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    h1 {
        color: white;
        font-size: 45px;
    }

    h3 {
        color: $golden;
        font-size: 24px;
    }
}



.background_figure1 {
  position: absolute;
  left: -41.25px;
  top: 118.22px;
}

.background_figure2 {
  position: absolute;
  bottom: -2%;
  right: -1%;
}
.background_figure3 {
  position: absolute;
  right: -0.5%;
  top: 78px;
}
.background_figure4 {
  position: absolute;
  left: 16%;
  bottom: 16%;
}
.bacground_caption1 {
}
.bacground_caption2 {
}
.bacground_caption3 {
}
.bacground_caption4 {
}
