@import url('https://fonts.googleapis.com/css2?family=Poppins');

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;

  min-width: 1440px;

  // set font-size to 10px
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}