@import url('https://fonts.googleapis.com/css2?family=Poppins');


:root {
  font-size: 16px;
}

html,
body {
  height: 100%;
  font-family: 'Poppins', sans-serif;
  /* background-color: #ffffff;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png"); */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}