/// *** About section ***
.about {


  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 1440px;
  margin-top: 32rem;
}

.title1_container {
  display: flex;
  justify-content: center;

  margin-bottom: 8rem;

}

.cardInfo_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}

/// *** Courses section ***

.courses {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 1440px;
  margin-top: 8rem;
}

.title2_container {
  display: flex;
  justify-content: center;

  margin-bottom: 8rem;
}

.cardCourses_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}

/// *** Teachers section ***

.teachers {
  display: flex;
  justify-content: center;

  flex-direction: column;

  width: 1440px;

  margin-top: 8rem;
}

.title3_container {
  display: flex;
  justify-content: center;
}

.cardTeachers_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 8rem;

    margin: 0 auto;

    margin-top: 8rem;
}
