/// *** About section ***
.about {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 1440px;
  margin-top: 16rem;
}

.title1_container {
  display: flex;
  justify-content: center;

  margin-bottom: 8rem;
}

.cardInfo_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;
}

/// *** Courses section ***

.courses {
  display: flex;
  justify-content: center;
  flex-direction: column;

  width: 1440px;
  margin-top: 8rem;
}

.title2_container {
  display: flex;
  justify-content: center;

  margin-bottom: 8rem;
}

.cardCourses_container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 4rem;

  //   flex-flow: column wrap;
}

/// *** Teachers section ***

.teachers {
  display: flex;
  justify-content: center;

  flex-direction: column;

  width: 1440px;

  margin-top: 8rem;
}

.title3_container {
  display: flex;
  justify-content: center;
}

.cardTeachers_container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 8rem;

  margin: 0 auto;

  margin-top: 8rem;
}

/// *** References section ***

.references {
  display: flex;

  flex-direction: column;

  width: 1440px;

  margin-top: 8rem;
}

.referencesTitle_container {
  display: flex;
  justify-content: center;
}

.references_container {
  align-self: center;
  width: 800px;
  margin-top: 8rem;
}

.references_items {
  display: flex;
  flex-direction: column;
  .references_items_left {
    margin-bottom: 8rem;
    align-self: flex-start;
  }
  .references_items_right {
    margin-bottom: 8rem;
    align-self: flex-end;
  }
}

/// *** Contact section ***

.contact {
  display: flex;
  flex-direction: column;
  gap: 8rem;
}

.title5_container {
  margin: 0 auto;
}

.form_container {
  margin: 0 auto;
}

/// *** Footer section ***

.footer_container {
  margin-top: 8rem;
}
