.container {
    background-image: url("/backdrop/background.svg");

    display: flex;
    justify-content: center;
    align-items: center;


}

.gridContainer {
    background-image: url("/backdrop/paper-background.svg");
    background-color: white;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    height: 500vh;
    max-width: 1440px;

    display: grid;
    grid-template-columns: repeat(18, 80px);
    grid-template-rows: repeat(6, 80px);

}

.marginLeft {
    grid-column: 2;
    border: 0;
    border-right: 3px solid #A12568;
    height: 500vh;

}

.marginRight {
    grid-column: -4;
    border: 0;
    border-right: 3px solid #A12568;
    height: 500vh;

}

.title1 {
    width: 640px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #FAFAFA;

    /* transform: rotate(-1deg); */


    grid-column: 6;
    grid-row: 5;

    border: 1px solid #000000;
    border-radius: 10px;

}

.hello {
    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 600;
    font-size: 45px;
    


    width: 640px;
    height: 80px;
}